body{
    font-family: 'Varta', sans-serif;
    margin: 0px;
}
h1{
    font-size: 40px;
}
#name{
    color: orange;
}

.section1{
    width: 40%;
    margin-left: 4%;
    padding-left: 2%;
    float: left;
}
.section1 img{
    width: 100%;
}

.top-banner{
    background-repeat: no-repeat;
    background-image: url("images/top-banner.png");
    

}
section{
    height: 500px;
    padding-bottom: 120px;
}
.hire-button, .resume-button{
    
    background-image: linear-gradient(rgb(99, 130, 231), rgb(6, 6, 156));
    text-decoration: none;
    color: white;
    
    padding: 9px 25px;
    border-radius: 6px;
    font-weight: 500;

}

.bottom-banner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right ;
}
.experience{
    font-size: 40px;
    text-align: center;

}
.experience-box{
    box-shadow: 9px 9px 35px grey;
    border-radius: 10px;
    height: 70%;
    background-color: whitesmoke;
 /*   background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;  */
}

 .experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}                                       

#box1{
    border-left: 8px  solid ;
    
    border-image: linear-gradient(180deg, rgb(85, 2, 2), rgb(240, 93, 93) );
    border-image-slice: 1;
}

#box2{
    border-left: 8px solid  ;
 
    border-image: linear-gradient(180deg, blue, rgb(99, 101, 248) );
    border-image-slice: 1;
}

footer p{
    text-align: center;
    font-size: 15px;
    font-weight: 600;

}